body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Lato!important;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
}

/*ポストプレビュー*/
.post-preview>a>.post-title{
   font-family:Lato!important;
   font-size:16px!important;
   margin-top:30px;
   margin-bottom:0px!important
 }

.post-preview>.post-meta{
  font-size:10px!important;
  margin-top:10px!important;
  margin-bottom:10px
}

/*p*/
p {
  font-family: Lato!important;
  font-size: 16px!important;
}
